name: Unit Tests

on:
  pull_request:

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore Rawbit.Tests/Rawbit.Tests.csproj

      - name: Unit Tests
        run: dotnet test Rawbit.Tests/Rawbit.Tests.csproj -c Release --no-restore
